<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%=wicked_pdf_stylesheet_link_tag "certified.css" -%>
    <%=stylesheet_link_tag "certified.css"%>
  </head>
  <body>
  <div class="head">
    <p class="title">CERTIFICADO</p>
  </div>
  <div class="top">
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
  <div/>
  <div >
    <p>Certificamos que</p>
    <p class="bold"><%= @current_user.name %></p>
    <p>concluiu o curso de</p>
    <p class="bold"><%= @course.name %></p>
    <p class="small">com carga horária de <%= @course.workload %> horas</p>
    <p class="small">iniciado em <%= @registry.initial_date.strftime("%d/%m/%Y") %> e finalizado em <%= @registry.final_date.strftime("%d/%m/%Y") %></p>
  </div>
  <div class="img">
    <%=wicked_pdf_image_tag('logo.png', size: "120x53")%>
  </div>
  <div class="bottom">
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
    <div class="item cor-3"></div><div class="item cor-4"></div>
    <div class="item cor-5"></div><div class="item cor-6"></div>
    <div class="item cor-1"></div><div class="item cor-2"></div>
  <div/>
</body>
</html>
